*{
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    float: right;
}
.header_left{
    display: flex;
    align-items: center; 
    position: absolute;
    left: 0;
    top: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;

}
.header_right{
    display: flex;
    align-items: center; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.header_left>a{
    margin: 4px  10px 0px 4px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.header_right>a{
    margin: 4px  10px 0px 4px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.925);

}
.header_left>a:hover{
    text-decoration: underline;
}
.header_right>a:hover{
    text-decoration: underline;
}
#appicion{
    opacity: 0.6;
    margin-top: 4px;
}
#appicion:hover{
    opacity: 1;
}
#signin{
    background-color:#4285F4;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    padding: 4px 6px;
}
#signin:hover{
    text-decoration: none;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    width: 272px;
    height: 92px;
}
.logo_button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 37px;
    margin-top: 10px;
    opacity: 0.2    ;
    border-radius: 25px;
    border: 1px solid black;
}
.logo_button:hover{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.521);
    cursor: text;
}
#Magnifying_glass_icon{
    margin-right: 320px;
    width: 30px;
    position: relative;
    left: 580px;
    bottom: 34px;
}
#microphone{
    width: 15px;
    opacity: 1;
    margin-bottom: 9px;
    position: relative;
    left: 580px;
    bottom: 28px;
}
.under_button{
    display: flex;
    justify-content: center;
    margin-top: 0px;
}
.under_button>button{
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.5;
    height: 30px;
    font-size: 12px;
    border: none;
    border-radius: 2px;

}
.under_button>button:hover{
    opacity: 1;
    cursor: pointer;
    box-shadow: 0px 0px 1px gray;
}
.language{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: small;
}
.main>p>a{
    color: 000080;
}
.footer{
    display: block;
    background-color: #F2F2F2;
    position: fixed;
    bottom: 0   ;
    width: 100%;
}
.footer>p{
    height: 35px;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.footer_divs{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 35px;
}
.footer_right>a{
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
.footer_right>a:hover{
    text-decoration: underline;
}
.footer_left{
    position: absolute;
    left: 0;
}
.footer_left>a{
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
.footer_left>a:hover{
    text-decoration: underline;

}